<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="clients">
        <div class="skill-slider">
            <div class="skill-slider__i clearfix">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div id="videos-swiper-wrapper" class="swiper-wrapper">

                        <div class="swiper-slide">
                            <title itemprop="name">Je suis Malade</title>
                            <a href="https://soundcloud.com/alisa-plotkin/je-suis-malade">
                                <iframe width="100%" height="144" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/252389023&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <title itemprop="name">I sing from my heart/שרה מהלב</title>
                            <a href="https://soundcloud.com/alisa-plotkin/je-suis-malade">
                                <iframe width="100%" height="144" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261115852&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <title itemprop="name">In Love With A Monster</title>
                            <a href="https://soundcloud.com/alisa-plotkin/je-suis-malade">
                                <iframe width="100%" height="144" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266516949&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="swiper-button-next-s"><i class="fa fa-angle-right"></i></a>
                    <a href="#" class="swiper-button-prev-s"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
