<div class="photo-hovered-info__list">
    <div class="photo-hovered-info__i clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12">
          {{{include 'events'}}}
        </div>
    </div>
</div>
