<div  id="popup-video-player-wrapper" class="hidden">
  <video id="fb-popup-video-player" class="video-player popup-player hidden" controls name='media'></video>
  <iframe id="yt-popup-video-player" class="video-player popup-player hidden" frameborder="0" allowfullscreen></iframe>
    <iframe frameborder="0" allowfullscreen></iframe>
</div>

