<div class="time-line clearfix space-bottom space-top-2x control-banner">
    <a name="top"></a>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="time-line_i clearfix">
            <div class="swiper-container">
                <!-- Additional required wrapper -->

                    <div class="swiper-slide">
                        <div class="time-lin__col top midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><img class="logo" src="img/star.png"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--time-line_i end-->
</div><!--time-line end-->
<ul id="dancing-notes">
    <li class="note-do">&#9833;</li>
    <li class="note-re">&#9834;</li>
    <li class="note-mi">&#9835;</li>
    <li class="note-fa">&#9836;</li>
    <li class="note-sol">&#9833;</li>
    <li class="note-la">&#9834;</li>
    <li class="note-si">&#9835;</li>
</ul>
<!--Header -->
{{>menuIcon}}
<div id="banner-placeholder"></div>
<section class="header-main {{#if showBanner}}paralax{{/if}}{{#if showVideoBanner}}video{{/if}} space-bottom-2x">
    <div class="header_i">
        {{#if showVideoBanner}}
          <div class="section-top__video">
              <div class="img-placeholder" style="background-image: url(/video/video-placeholder.jpg);"></div>
              <video autoplay="autoplay" preload="auto" loop="loop">
                  <source src="video/364831.mp4" type="video/mp4" />
                  <!--<source src="video/bg2.webm" type="video/ogg" />-->
              </video>
          </div>
          {{/if}}

      {{#if showBanner}}
        <div class="paralax__images">
            <!--<video autoplay="autoplay" preload="auto" loop="loop" class="video-bg">-->
                <!--<source src="video/364831.mp4" type="video/mp4" />-->
                <!--&lt;!&ndash;<source src="video/bg2.webm" type="video/ogg" />&ndash;&gt;-->
            <!--</video>-->
            <a id="close_banner" class="fa fa-close" style="z-index: 100"></a>
            <ul id="scene" class="scene">
                <li class="layer center" data-depth="0.05"><img src="/img/paralax/alisa_w1.png" alt="#">
                </li>
                <li class="layer img korg" data-depth="-0.80"><img src="/img/paralax/korg.png" alt="#">
                </li>
                <li class="layer img notes" data-depth="0.70"><img src="/img/paralax/notes.png" alt="#">
                </li>
                <li class="layer img braun" data-depth="-0.60"><img src="/img/paralax/braun.png" alt="#">
                </li>
                <li class="layer img headphones" data-depth="-0.80"><img src="/img/paralax/headphones.png" alt="#">
                </li>
                <li class="layer img shure" data-depth="1.00"><img src="/img/paralax/shure.png" alt="#">
                </li>
                <li class="layer img alisa-name" data-depth="0.10">
                    <h2 class="alisa-name">{{t "alisa_name"}}</h2>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</section>
<!--Header end -->
