<div class="tab-content">
    <a name="video"></a>
    <div role="tabpanel" class="tab-pane active" id="clients">
        <div class="skill-slider">
            <div class="skill-slider__i clearfix">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div id="videos-swiper-wrapper" class="swiper-wrapper">
                        {{{video_item}}}
                    </div>
                    <a href="#" class="swiper-button-next-s"><i class="fa fa-angle-right"></i></a>
                    <a href="#" class="swiper-button-prev-s"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>fbVideoPlayer}}
