<div class="header__social">
    <ul>
        <li>
            <a class="fa fa-facebook" target="_blank" href="{{globals.config.facebook.page_url}}"></a>
        </li>
        <li>
            <a class="fa fa-twitter" target="_blank" href="{{globals.config.twitter.page_url}}"></a>
        </li>
        <li>
            <a class="fa fa-youtube" target="_blank" href="{{globals.config.youtube.url}}"></a>
        </li>
        <!--<li>-->
            <!--<a class="fa fa-skype" href="#"></a>-->
        <!--</li>-->
        <li>
            <a class="fa fa-google-plus" target="_blank" href="{{globals.config.google_plus.page_url}}"></a>
        </li>
    </ul>
</div>
