<!--anchor-top-->
<div class="anchor-top">
    <div class="anchor-top_i"><i>&nbsp;</i>
    </div>
</div>

<!--menu-main-->
<div class="menu-main">
    <div class="search">
        <a href="#">&nbsp;</a>
        <input type="text" class="inp" />
    </div>
  {{{include 'menu' 'recommendations'}}}
  {{>socialMenu}}
</div>
<!--menu-main end-->
{{>header showBanner=false}}
<div class="blog-post">
    <div class="container space-bottom">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-9">
                <div class="blog-post__img space-bottom">
                    <img src="/img/blog/870x264.jpg" alt="#" />
                    <div class="list">
                        <ul>
                            <li><a href="#" class="link-line">2 days ago</a>
                            </li>
                            <li><a href="#" class="link-line">posted by bedismo</a>
                            </li>
                            <li><a href="#" class="link-line">10 comments</a>
                            </li>
                            <li><a href="#" class="link-line">5 min read</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--blog-post__img end-->
                <div class="blog-post__text ">
                    <h2 class="space-bottom">Post about glasses</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
                <!--blog-post__text end-->
                <div class="blog-post__video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/27408483?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
                    </div>
                </div>
                <!--blog-post__video end-->
                <div class="blog-post__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex</p>
                </div>
                <!--blog-post__text end-->
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3">
                <div class="blog-post__search">
                    <section><a href="#" class="flaticon-search100">&nbsp;</a>
                        <input type="text" class="inp" />
                    </section>
                </div>
                <!--blog-post__search end-->
                <div class="blog-post__list">
                    <ul>
                        <li><a href="#" class="link-line">Show All</a>
                        </li>
                        <li><a href="#" class="link-line">Design</a>
                        </li>
                        <li><a href="#" class="link-line">Photography</a>
                        </li>
                        <li><a href="#" class="link-line">Mobile Solutions</a>
                        </li>
                        <li><a href="#" class="link-line">Marketing</a>
                        </li>
                        <li><a href="#" class="link-line">Illustration</a>
                        </li>
                    </ul>
                </div>
                <!--blog-post__list end-->
            </div>
        </div>
        <!--row end-->
    </div>
</div>
<!--blog-post end-->
<div class="comments space-bottom-2x">
    <div class="container">
        <div class="row text-center">
            <div class="heading space-bottom-2x">
                <h2>comments</h2>
            </div>
        </div>
        <!--row end-->
        <div class="row">
            <div class="comments__item">
                <div class="comments__item_title">
                    <a class="user" href="#">&nbsp;</a>
                    <h6>Jane dow</h6>
                    <p>5 min ago</p>
                </div>
                <!--comments__item_title end-->
                <div class="comments__item_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="reply link-line" href="#">reply on comment</a>
                </div>
                <!--comments__item_text end-->
            </div>
            <!--comments__item end-->
            <div class="comments__item two">
                <div class="comments__item_title">
                    <a class="user" href="#">&nbsp;</a>
                    <h6>Jane dow</h6>
                    <p>5 min ago</p>
                </div>
                <!--comments__item_title end-->
                <div class="comments__item_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="reply link-line" href="#">reply on comment</a>
                </div>
                <!--comments__item_text end-->
            </div>
            <!--comments__item end-->
        </div>
    </div>
</div>
<!--comments end-->
<div class="comment space-bottom">
    <div class="container">
        <div class="row text-center">
            <div class="heading space-bottom">
                <h2>Post Comment</h2>
            </div>
        </div>
        <!--row end-->
        <div class="comment__f">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                <span class="input input--madok">
                  <input class="input__field input__field--madoka" type="text" id="input-31">
                  <label class="input__label input__label--madoka" for="input-31">
                      <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                          <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
                      </svg>
                      <span class="input__label-content input__label-content--madoka">Your Name*</span>
                  </label>
                </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                <span class="input input--madok">
                  <input class="input__field input__field--madoka" type="text" id="input-32">
                  <label class="input__label input__label--madoka" for="input-32">
                      <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                          <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
                      </svg>
                      <span class="input__label-content input__label-content--madoka">E-Mail*</span>
                  </label>
                </span>
                        </div>
                    </div>
                </div>
                <!--row end-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                <span class="input input--madoka">
                  <textarea class="input__field input__field--madoka" id="input-3"></textarea>
                  <label class="input__label input__label--madoka" for="input-3">
                      <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                          <path d="m0,0l405,0l0,77l-406,0l0,-77z"/>
                      </svg>
                      <span class="input__label-content input__label-content--madoka">Frequency</span>
                  </label>
                </span>
                        </div>
                    </div>
                </div>
                <!--row end-->
                <div class="form-group text-center" style="margin-top: 10px;">
                    <button type="submit" class=" btn btn-primary2">submit</button>
                </div>
            </div>
        </div>
        <!--comment__f end-->
    </div>
</div>
<!--comment end-->
<!--footer-->
{{>footer}}
