<!--anchor-top-->
<!--anchor-top-->
<div class="anchor-top">
    <div class="anchor-top_i"><i>&nbsp;</i>
    </div>
</div>

<!--anchor-top end-->
<!--menu-main-->
<div class="menu-main">
    <div class="search">
        <a href="#">&nbsp;</a>
        <input type="text" class="inp" />
    </div>
  {{{include 'menu' 'video'}}}
  {{>socialMenu}}
</div>
<!--menu-main end-->
<!--Header-->
{{>header showBanner=false showVideoBanner=true}}
<!--Header end-->
<!--Container -->
<div class="container">
    <!--Content Title-->
    <div class="content-title">
        <h2>Our Expertise</h2>
    </div>
    <!--expertise-->
    <div class="expertise space-bottom-2x ">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <div class="item__top">
                        <h4>photo editing</h4>
                        <i class="flaticon-camera59"></i>
                    </div>
                    <div class="item__mid">
                        <div class="text">
                            <p class="primary2">
                                <a href="#" class="link-line">Web Design And Web Apps Development</a>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed hendrerit. </p>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <a href="#" class="btn btn-primary2">More info</a>
                    </div>
                </div>
            </div>
            <!--col-md-4 end-->
            <div class="col-md-4">
                <div class="item">
                    <div class="item__top">
                        <h4>photo editing</h4>
                        <i class="flaticon-magic20"></i>
                    </div>
                    <div class="item__mid">
                        <div class="text">
                            <p class="primary2">
                                <a href="#" class="link-line">Web Design And Web Apps Development</a>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed hendrerit. </p>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <a href="#" class="btn btn-primary2">More info</a>
                    </div>
                </div>
            </div>
            <!--col-md-4 end-->
            <div class="col-md-4">
                <div class="item">
                    <div class="item__top">
                        <h4>photo editing</h4>
                        <i class="flaticon-world96"></i>
                    </div>
                    <div class="item__mid">
                        <div class="text">
                            <p class="primary2">
                                <a href="#" class="link-line">Web Design And Web Apps Development</a>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed hendrerit. </p>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <a href="#" class="btn btn-primary2">More info</a>
                    </div>
                </div>
            </div>
            <!--col-md-4 end-->
        </div>
        <!--expertise end-->
    </div>
</div>
<!--container end-->
<!--projects-->
<div class="projects">
    <div class="container">
        <div class="col-md-12">
            <!--Content Title-->
            <div class="content-title space-bottom">
                <h2>Our Projects</h2>
            </div>
            <!--Content Title end-->
            <!--projects-type-->
            <nav class="projects-type space-bottom">
                <div class="projects-type__i clearfix">
                    <ul id="filters" class="button-group ">
                        <li class="active" data-filter="*"><a href="#" class="link-line">Show All</a>
                        </li>
                        <li data-filter=".design"><a href="#" class="link-line">Design</a>
                        </li>
                        <li data-filter=".photography"><a href="#" class="link-line">Photography</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--projects-type end-->
        </div>
    </div>
    <!--project-list-->
    <div class="project-list space-bottom-2x">
        <div class="project-list__i clearfix  space-bottom" id="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <!--project-list item-->
            <div class="item photography w100" data-category="photography">
                <img src="img/project/masonry/project-1-1872x744.jpg" alt="#" />
                <div class="item-hover">
                    <div class="item-hover__i">
                        <div class="text">
                            <div class="text__i">
                                <a href="#">
                                    <h3>Beauty shot</h3>
                                    <p>Identity / Graphic</p>
                                </a>
                            </div>
                            <div class="text__btn">
                                <a href="#" class="btn btn-info">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--project-list item end-->
            <!--project-list item-->
            <div class="item design w33" data-category="design">
                <img src="img/project/masonry/project-2-616x576.jpg" alt="#" />
                <div class="item-hover">
                    <div class="item-hover__i">
                        <div class="text">
                            <div class="text__i">
                                <a href="#">
                                    <h3>Beauty shot</h3>
                                    <p>Identity / Graphic</p>
                                </a>
                            </div>
                            <div class="text__btn">
                                <a href="#" class="btn btn-info">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--project-list item end-->
            <!--project-list item-->
            <div class="item mobile w66" data-category="mobile">
                <img src="img/project/masonry/project-3-1231x576.jpg" alt="#" />
                <div class="item-hover">
                    <div class="item-hover__i">
                        <div class="text">
                            <div class="text__i">
                                <a href="#">
                                    <h3>Beauty shot</h3>
                                    <p>Identity / Graphic</p>
                                </a>
                            </div>
                            <div class="text__btn">
                                <a href="#" class="btn btn-info">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--project-list item end-->
            <!--project-list item-->
            <div class="item marketing w66" data-category="marketing">
                <img src="img/project/masonry/project-4-1231x576.jpg" alt="#" />
                <div class="item-hover">
                    <div class="item-hover__i">
                        <div class="text">
                            <div class="text__i">
                                <a href="#">
                                    <h3>Beauty shot</h3>
                                    <p>Identity / Graphic</p>
                                </a>
                            </div>
                            <div class="text__btn">
                                <a href="#" class="btn btn-info">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--project-list item end-->
            <!--project-list item-->
            <div class="item illustration w33" data-category="illustration">
                <img src="/img/project/masonry/project-5-616x576.jpg" alt="#" />
                <div class="item-hover">
                    <div class="item-hover__i">
                        <div class="text">
                            <div class="text__i">
                                <a href="#">
                                    <h3>Beauty shot</h3>
                                    <p>Identity / Graphic</p>
                                </a>
                            </div>
                            <div class="text__btn">
                                <a href="#" class="btn btn-info">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--project-list item end-->
        </div>
        <!--project-list__btn-->
        <a href="#" class="btn btn-primary2 btn-arr">watch all our projects <i></i></a>
    </div>
</div>
<!--projects end-->
<!--what-we-do-->
<div class="what-we-do space-bottom">
    <div class="container">
        <!--Content Title-->
        <div class="content-title space-bottom">
            <h2>what we do</h2>
        </div>
        <!--Content Title end-->
        <div class="row">
            <div class="col-md-6">
                <h4>design</h4>
                <div class="accordion-bigIcons flaticon-magic20"></div>
                <div class="accordion panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne2">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                    Web &amp; Apps Design
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>

                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo2">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    Branding &amp; Identity
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree2">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                    Brochures &amp; business cards
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour2">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2" aria-expanded="false" aria-controls="collapseFour">
                                    Illustration Design
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>digital</h4>
                <div class="accordion-bigIcons flaticon-camera59"></div>
                <div class="accordion panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Responsive, mobile websites
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Content management
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    E-Commerce / M-Commerce websites
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    One more
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed volutpat auctor hendrerit.
                                <div class="bottom">
                                    <span>Started from 2000$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--what-we-do end-->
<!--text-image-block -->
<div class="text-image-block">
    <div class="container space-bottom space-top">
        <div class="content-title space-bottom">
            <h2>about us</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="text-image-block-inner">
                    <h4>we create digital solutions</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut vestibulum augue. Sed rhoncus lorem ligula, id elementum dui placerat a. Morbi varius est a quam consectetur congue. Proin non nisi molestie, tincidunt nisi nec, facilisis leo. Donec molestie massa urna, et mollis erat fermentum et. Nulla facilisi. Fusce sit amet rutrum mauris.
                    </p>
                    <p class="hide">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut vestibulum augue. Sed rhoncus lorem ligula, id elementum dui placerat a. Morbi varius est a quam consectetur congue. Proin non nisi molestie, tincidunt nisi nec, facilisis leo. Donec molestie massa urna, et mollis erat fermentum et. Nulla facilisi. Fusce sit amet rutrum mauris.
                    </p>
                    <div class="more"><a href="#" class="link-line">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <img src="img/home/about/672x385.jpg" alt="demo" />
            </div>
        </div>
    </div>
    <!--container end-->
</div>
<!--text-image-block end-->

<!--time-line-->
<div class="time-line clearfix space-bottom space-top-2x">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="time-line_i clearfix">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="time-lin__col data bottom first">
                            <div class="time-lin__col_data">
                                <p>2012</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom long">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><b>52</b></i></a>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col top short">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <i class="number-icon"><a href="#" class="icon2">&nbsp;</a></i>
                                <p>Winning Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><b>40</b></i></a>
                                <p>Web Sites</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col top midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <p>Web Sites</p>
                                <a href="#"><i class="number"><b>40</b></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom long">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <i class="number-icon"><a href="#" class="icon1">&nbsp;</a></i>
                                <p>Winning Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col data bottom ">
                            <div class="time-lin__col_data">
                                <p>2013</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom short">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><b>37</b></i></a>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col top midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <p>Web Sites</p>
                                <a href="#"><i class="number"><b>40</b></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom long">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <i class="number-icon"><a href="#" class="icon1">&nbsp;</a></i>
                                <p>Winning Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col data bottom ">
                            <div class="time-lin__col_data">
                                <p>2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom long">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><b>52</b></i></a>
                                <p>Illustrations</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col top short">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <i class="number-icon"><a href="#" class="icon2">&nbsp;</a></i>
                                <p>Winning Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <a href="#"><i class="number"><b>40</b></i></a>
                                <p>Web Sites</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col top midle">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <p>Web Sites</p>
                                <a href="#"><i class="number"><b>40</b></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col bottom long">
                            <div class="time-lin__col_line ">&nbsp;</div>
                            <div class="time-lin__col_item">
                                <i class="number-icon"><a href="#" class="icon1">&nbsp;</a></i>
                                <p>Winning Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="time-lin__col data bottom last">
                            <div class="time-lin__col_data">
                                <p>2015</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-button-next-line fa fa-angle-right"></div>
                <div class="swiper-button-prev-line fa fa-angle-left"></div>
            </div>
        </div>
        <!--time-line_i end-->
    </div>
</div><!--time-line end-->

<!--skills-->
<div class="skills">
    <div class="skills__i">
        <div class="col-md-12 space-top">
            <!--Content Title-->
            <div class="content-title space-bottom">
                <h2>Skills</h2>
            </div>
            <!--Content Title end-->
        </div>
        <!--container-->
        <div class="container">
            <!--values-->
            <div class="values space-bottom">
                <div class="values__i clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <!--values item-->
                            <div class="item">
                                <div class="item__i">
                                    <div class="bar">
                                        <div class="bar__i animate" data-item="96"></div>
                                    </div>
                                    <div class="text text_top">
                                        <div class="text__i">
                                            <h4 class="primary2 percents">96 %</h4>
                                            <h5>Adobe photoshop</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--values item end-->
                            <!--values item-->
                            <div class="item right">
                                <div class="item__i">
                                    <div class="bar">
                                        <div class="bar__i bar__i-2 animate" data-item="87"></div>
                                    </div>
                                    <div class="text">
                                        <div class="text__i">
                                            <h4 class="primary2 percents">87 %</h4>
                                            <h5>video production</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--values item end-->
                            <!--values item-->
                            <div class="item animate ">
                                <div class="item__i">
                                    <div class="bar">
                                        <div class="bar__i bar__i-3 animate" data-item="90"></div>
                                    </div>
                                    <div class="text text_top">
                                        <div class="text__i">
                                            <h4 class="primary2 percents">90 %</h4>
                                            <h5>Photography</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--values item end-->
                            <!--values item-->
                            <div class="item right">
                                <div class="item__i">
                                    <div class="bar">
                                        <div class="bar__i bar__i-4 animate" data-item="80"></div>
                                    </div>
                                    <div class="text">
                                        <div class="text__i">
                                            <h4 class="primary2 percents">80 %</h4>
                                            <h5>illustrator</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--values item end-->
                        </div>
                    </div>
                </div>
            </div>
            <!--values end-->
        </div>
        <!--container end-->
        <!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- -->
                    <div class="tabs-control">
                        <ul class="nav nav-tabs nav-tabs_dark" id="tabs-1">
                            <li class="active"><a href="#clients" aria-controls="clients" data-toggle="tab"><span>clients</span></a>
                            </li>
                            <li><a href="#testimonials" aria-controls="testimonials" data-toggle="tab"><span>testimonials</span></a>
                            </li>
                            <li><a href="#something" aria-controls="something" data-toggle="tab"><span>something</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--container end-->
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="clients">
                <div class="skill-slider">
                    <div class="skill-slider__i clearfix">
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-1.png" alt="#" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-2.png" alt="#" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-3.png" alt="#" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-1.png" alt="#" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-2.png" alt="#" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/demo/slide-3.png" alt="#" />
                                </div>
                            </div>
                            <a href="#" class="swiper-button-next-s"><i class="fa fa-angle-right"></i></a>
                            <a href="#" class="swiper-button-prev-s"><i class="fa fa-angle-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="testimonials">
                <div class="testi-slider">
                    <div class="testi-slider__i clearfix">
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="text">
                                        <p><i>“</i>
                                        </p>
                                        <div class="text__i">
                                            <p>
                                                An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession.
                                            </p>
                                            <p><strong>– John Doe</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text">
                                        <p><i>“</i>
                                        </p>
                                        <div class="text__i">
                                            <p>
                                                An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession.
                                            </p>
                                            <p><strong>– John Doe</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="swiper-button-next"></a>
                            <a href="#" class="swiper-button-prev"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="something">
                <div class="testi-slider">
                    <div class="testi-slider__i clearfix">
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="text">
                                        <p><i>“</i>
                                        </p>
                                        <div class="text__i">
                                            <p>
                                                An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession.
                                            </p>
                                            <p><strong>– John Doe</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text">
                                        <p><i>“</i>
                                        </p>
                                        <div class="text__i">
                                            <p>
                                                An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession.
                                            </p>
                                            <p><strong>– John Doe</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="swiper-button-next"></a>
                            <a href="#" class="swiper-button-prev"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--skills end-->
<!--container-->
<div class="container">
    <div class="row">
        <!--our team-->
        <div class="photo-hovered-info space-bottom-2x">
            <!--Content Title-->
            <div class="content-title space-bottom">
                <h2>our team</h2>
            </div>
            <!--Content Title end-->
            <!--our-team__list-->
            <div class="photo-hovered-info__list">
                <div class="photo-hovered-info__i clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <!--our team item-->
                        <div class="item">
                            <div class="item__i">
                                <div class="img">
                                    <img src="img/demo/team-1.jpg" alt="#" />
                                </div>
                                <div class="title">
                                    <div class="title__i">
                                        <div class="name">
                                            <h4>John Dow</h4>
                                            <p>Designer</p>
                                        </div>
                                        <div class="description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            </p>
                                        </div>
                                        <div class="share">
                                            <ul class="clearfix">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--our item end-->
                        <!--our team item-->
                        <div class="item">
                            <div class="item__i">
                                <div class="img">
                                    <img src="img/demo/team-2.jpg" alt="#" />
                                </div>
                                <div class="title">
                                    <div class="title__i">
                                        <div class="name">
                                            <h4>John Dow</h4>
                                            <p>Designer</p>
                                        </div>
                                        <div class="description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            </p>
                                        </div>
                                        <div class="share">
                                            <ul class="clearfix">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--our item end-->
                        <!--our team item-->
                        <div class="item">
                            <div class="item__i">
                                <div class="img">
                                    <img src="img/demo/team-3.jpg" alt="#" />
                                </div>
                                <div class="title">
                                    <div class="title__i">
                                        <div class="name">
                                            <h4>John Dow</h4>
                                            <p>Designer</p>
                                        </div>
                                        <div class="description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            </p>
                                        </div>
                                        <div class="share">
                                            <ul class="clearfix">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--our item end-->
                        <!--our team item-->
                        <div class="item">
                            <div class="item__i">
                                <div class="img">
                                    <img src="img/demo/team-4.jpg" alt="#" />
                                </div>
                                <div class="title">
                                    <div class="title__i">
                                        <div class="name">
                                            <h4>John Dow</h4>
                                            <p>Designer</p>
                                        </div>
                                        <div class="description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            </p>
                                        </div>
                                        <div class="share">
                                            <ul class="clearfix">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--our item end-->
                    </div>
                </div>
            </div>
            <!--our-team__list end-->
        </div>
        <!--our team end-->
    </div>
</div>
<!--container end-->
<!--latest-tweets-->
<div class="latest-tweets">
    <div class="container space-top">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="heading">
                    <h2>latest tweets</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!--latest-tweets__slide-->
            <div class="latest-tweets__slide">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="top-line">
                                    <p>5 hours ago</p>
                                </div>
                                <div class="text">
                                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed <a href="#" class="link-line">volutpat auctor hendrerit.</a>
                                        <br/>
                                        <br/>
                                        <a href="#" class="link-line">@8guild</a>
                                    </blockquote>
                                </div>
                            </div>
                            <!--swiper-slide-->
                            <div class="swiper-slide">
                                <div class="top-line">
                                    <p>5 hours ago</p>
                                </div>
                                <div class="text">
                                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed <a href="#" class="link-line">volutpat auctor hendrerit.</a>
                                        <br/>
                                        <br/>
                                        <a href="#" class="link-line">@8guild</a>
                                    </blockquote>
                                </div>
                            </div>
                            <!--swiper-slide-->
                            <div class="swiper-slide">
                                <div class="top-line">
                                    <p>5 hours ago</p>
                                </div>
                                <div class="text">
                                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est neque, venenatis vel erat sit amet, tempor cursus nunc. Sed <a href="#" class="link-line">volutpat auctor hendrerit.</a>
                                        <br/>
                                        <br/>
                                        <a href="#" class="link-line">@8guild</a>
                                    </blockquote>
                                </div>
                            </div>
                            <!--swiper-slide-->
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination">
                        </div>
                    </div>
                </div>
            </div>
            <!--latest-tweets__slide end-->
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary2 space-bottom"><i class="fa fa-twitter"></i> follow us
                </a>
            </div>
        </div>
    </div>
</div>
<!--latest-tweets end-->
{{>footer}}
